/* ===============================
   BODY
=============================== */
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f4f6f9;
}

/* ===============================
   HEADER (lebih menarik)
=============================== */
header {
  text-align: center;
  background: linear-gradient(135deg, #0b5ed7, #198754, #00bfff, #198754);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: white;
  padding: 20px;
  box-

