#map {
  height: 100vh;
  width: 100%;
}

/* Legend */
.legend {
  background: white;
  padding: 10px;
  line-height: 18px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
